@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

html {
  background: orange;
}
.App {
  text-align: center;
}
/* NAVBAR Lines 12 - 63 */
.nav-bar {
  /* display: flex; */
  justify-content: center;
}
nav {
  display: flex;
  background-color: black;
  color: white;
  width: 95vw;
  border-radius: 5px;
  font-family: "Luckiest Guy";
  margin-top: 3em;
  margin-left: 3em;
  align-items: center;
  justify-content: space-between;
}
nav h1 {
  font-size: 32px;
  margin-bottom: 0;
}
nav h5 {
  margin-top: 0;
  font-size: 14px;
}
.logo {
  align-items: flex-start;
  margin-left: 6vw;
}
.Toons {
  color: orange;
}
.options {
  display: flex;
  justify-content: space-around;
  width: 60vw;
  margin-right: 3vw;
}
.options input {
  height: 4vh;
  align-self: center;
  border-radius: 7px;
  text-align: center;
  width: 15vw;
}
/* HOME */
.wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(2, 0.4fr);
  grid-template-rows: 0.01fr 0.1fr 0.1fr 0.1fr;
  grid-template-areas:
    "searchbar searchbar"
    "topanime genres"
    "manga random"
    "footer footer";
  justify-content: center;
  /* align-content: center; */
  grid-gap: 1em 5em;
}
#box {
  position: relative;
  top: 25vh;
  background: white;
  border: black 1px solid;
  border-radius: 10px;
}
.home-page {
  height: 100vh;
}
.home-page input {
  grid-area: searchbar;
  position: relative;
  top: 20vh;
  border-radius: 10px;
  text-align: center;
  font-size: 1em;
}
.show-box {
  margin: 20vh 5vw 0 5vw;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
}

.show-box h1{
  grid-area: 1/1/1/7;
}

.links {
  text-decoration: none;
}
.images {
  height: 350px;
}
.topAnime-box {
  grid-area: topanime;
}
.genres-box {
  grid-area: genres;
  background-color: aquamarine;
}
.manga-box {
  grid-area: manga;
}
.random-box {
  grid-area: random;
}
.foot {
  grid-area: footer;
  /* position: relative; */
  /* top: 25vh; */
}
.options form {
  padding: 0;
} 

/* More Details */
.more-details{
}

.more-details-info{
  display: flex;
  margin: 200px;
}

.more-details-info img{
}

.more-details-info iframe{
  width: 35em;
  height: 25em;
}
.youtube-vid{
  display: flex;
  align-self: flex-end;
}

.sec-1{
  display: flex;
  font-family: "Racing Sans One";
}

.col-2{
  display: flex;
  flex-direction: column;
  width: 60em;
  margin-left: 4em;
}

.character-images{
  display: flex;
  flex-direction: column;
  align-items: center;

}