@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

html{
  background: orange;
}
.App {
  text-align: center;
}

/* NAVBAR Lines 12 - 63 */   

.nav-bar{
  display: flex;
  justify-content: center;
}

nav{
  display: flex;
  position: fixed;
  background-color: black;
  color: white;
  width: 95vw;
  border-radius: 5px; 
  font-family: 'Luckiest Guy';
  margin-top: 3em;
  align-items: center;
  justify-content: space-between;
}

nav h1{
  font-size: 32px;
  margin-bottom: 0;
}

nav h5{
  margin-top: 0;
  font-size: 14px;
}

.logo{
  align-items: flex-start;
  margin-left: 6vw;
  
}

.Toons{
  color: orange;
}

.options{
  display: flex;
  justify-content: space-around;
  width: 60vw;
  margin-right: 3vw;
}

.options input{
  height: 4vh;
  align-self: center;
  border-radius: 7px;
  text-align: center;
  width: 15vw;
}


/* HOME */

.wrapper{
  display: grid;
  height: 100%;
  grid-template-columns: repeat(2, 0.4fr);
  grid-template-rows: 3em .1fr .1fr 1em;
  grid-template-areas:
      "s s"
      "a g"
      "m r"
      "ft ft";
  justify-content: center;
  align-content: center;
  grid-gap: 1em 5em; 
}

.home-page input{
  position: relative;
  border-radius: 10px;
  text-align: center;
  font-size: 1em;
}

/* .topAnime-box{
  grid-area: a;
}; */
.genres-box{
  background-color: aquamarine
};

.manga-box{
  background-color: black
};

.random-box{
};

.foot{
  border: black solid 2px;
}

#box{
  border-radius: 10px;
}
.home-page{
  height: 100vh;
}

.links{
    text-decoration: none;
  }
  
.images{
  height: 350px;
}

/* Top Anime Page */
.show-box{
  margin-top: 15em;
  padding: 10em;
  grid-gap: 1vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));  }