@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

html {
  height: 100%;
  background-repeat:no-repeat;
  background-size: cover;
  width: 100vw;
}

.primaryText{
  font-family: 'Luckiest Guy';
}

.titleText{
  font-size: 64px;
}

.App {
  text-align: center;
  background: center / cover no-repeat url('./assets/background.svg');
  color: white;
  letter-spacing: .08vw;
}

/* NAVBAR Lines 12 - 63 */
nav {
  display: flex;
  background-color: rgb(29, 29, 29);
  color: white;
  width: 100vw;
  font-family: "Luckiest Guy";
  justify-content: space-between;
}

nav h4:hover{
  color: orange;
  transition: all .1s ease-in;
}
.links{
  text-decoration: none;
  color: white;
  margin: 0;
}
nav h1 {
  font-size: 32px;
  margin-bottom: 0;
}
nav h5 {
  margin-top: 0;
  font-size: 14px;
}
.logo {
  align-items: flex-start;
  margin-left: 6vw;
}
.Toons {
  color: orange;
}
.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60vw;
  margin-right: 3vw;
}

.searchBar{
  width: 15em;
  height: 2.5em;
  padding: 5px;
  background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 25px;
}

.nav-bar-search-button{
  margin:0;
  position: absolute;
  width: 5em;
  height: 23px;
  right: 100px;
  padding: 0;
  border-radius: 5px;
  -webkit-appearance: none;
}
/* HOME */

.homePage{
  margin: 0 5vw;
}

.home-page-bottom{
  flex-direction: column;
  align-items: flex-end; 
  justify-content: flex-end; 
}

.footer{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 10em;
  position: relative;
  /* background: url('https://media.istockphoto.com/photos/abstract-gradient-dark-purple-background-gradient-dark-purple-color-picture-id1162940297?k=6&m=1162940297&s=170667a&w=0&h=TfNcfl6YLYHCP3jDba8KewS39EUBJrgJ34uebjSjHvk='); */
  bottom: 0;
  overflow: hidden;
}

.icons{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding:1em;
}

#itadori{
    width: 10em;
    display: flex;
    flex-direction: column;
    width: 10em;
    right: 35em;
    position: sticky;
    overflow: hidden;
  }
  
/* TopAnime */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container h1{
  font-family: "Luckiest Guy";
}

.card{
  width: 225px;
  height: 20em;
  border-radius: 5px;
  margin: 10px 10px 55px;
  box-shadow: 2px 2px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  text-align: center;
}

.card:hover{
 transform: scale(1.1);
 transition: all .2s ease-in;
}

.card-image:hover{
  transform: scale(1.025);
  transition: all .2s ease-in;
 }
.card-image{
  width: 100%;
  height: 20em;
}

/* More Details */
.more-details-info iframe{
  width: 78%;
  height: 30em;
}

.more-details-info h1{
  font-family: "Racing Sans One";
  font-size: 3.3em;
  margin-bottom: 0;
  color: white;
  margin: 0;
  text-shadow: -5px 4px rgba(0, 0, 0, 0.25);
}

.more-details-info p{
  font-family: "Racing Sans One";
  word-wrap: break-word;
  position: relative;
  left: 1em;
}

.youtube-vid{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-1{
  display: flex;
  justify-content: center;
  margin-top: 5em;
  border-radius: 0in;

}
.buttonz{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-appearance: none;
}

.favorite{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: rgb(255, 255, 255);
  height: 3em;
  width: 5vw;
  border-radius: .5em;
  font-family: "Luckiest Guy";
  font-size: 1em;
}

.col-1{
  margin-top: 1em;
  color: #000;
}

.col-2{
  display: flex;
  flex-direction: column;
  width: 75em;
}

.char-imgs{
  display: flex;
  justify-content: space-evenly;
}

.comment-section input, textarea{
  display: flex;
  width:5in;
  margin:10px;
  justify-content: center;
}

.comment-section form{
  display: flex;
  flex-direction: column;
  width: 20em;
  margin-top: 1em;
}
#airing::-webkit-scrollbar, #upComingManga::-webkit-scrollbar{
  background: rgb(85, 85, 85);
  width: 50%;
  visibility: hidden;
}
#airing::-webkit-scrollbar:hover{
  visibility: visible;
}

#airing::-webkit-scrollbar-thumb{
background: rgb(39, 39, 39);
  width: 50%;
}

#airing::-webkit-scrollbar-thumb:hover{
  background: rgb(0, 0, 0); 
}

/* #upComingManga::-webkit-scrollbar{
  background: rgb(68, 68, 68); 
} */

#upComingManga::-webkit-scrollbar-thumb:hover{
  background: rgb(36, 36, 36); 
}

#airing{
 display: flex;
 flex-shrink: 1em;
 height: 28em;
 overflow-x: scroll;
}
 
#airing a{
  height: 1em;
}

#airing h5{
  color: rgb(42, 42, 42);
  text-shadow: none;
}

#upComingManga{
  display: flex;
  overflow-x: scroll;
  height: 27em;
}

